body {
    background-color: rgb(12, 1, 22);
    margin: 0;
}
/* navigation bar */
#body {
    margin-top: 70px;
}
.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(25, 4, 44);
    width: 100%;
    position: fixed;
    top: 0;
    height: 50px;
    z-index: 1;
}
.header li {
    float: right;
}
.header li a {
    display: block;
    color: rgb(252, 241, 242);
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
}
.float {
    float: right;
    padding: 7px;
 }
.float:hover {
    background-color: rgb(50, 21, 77);
}

/* products */
.pdbar {
    display: flex;
    background-color: rgb(38, 12, 77);
    color: white;
    font-family: "Josefin Sans", sans-serif;
    justify-content: space-between;
    font-size: 13px;
    height: 50px;
    padding: 0 25px;
}

.pdbar a {
    text-decoration: none;
    color: red;
}

.pdbar a:hover {
    text-decoration: underline 2px solid red;
}

/* products */
.container {
    display: flex;
    color: white;
    background-color: rgb(28, 3, 48);
    flex-flow: row wrap;
    padding: 15px 7px;
    justify-content: space-around;
}

.container div {
    background-color: rgb(44, 10, 77);
    padding: 20px 10px;
    padding-bottom: 20px;
    text-align: center;
    border-radius: 5px;
    flex-basis: 17%;
    font-family: "Josefin Sans", sans-serif;
}
.container h1 {
    font-size: 25px;
}
.container .subtitle {
    position: relative;
}
.container .sub {
    position: absolute;
    background-color: black;
    bottom: 8px;
    left: 18.48px;
    width: 190px;
    padding: 4px 0px;
    font-family: "Poppins", sans-serif;

}
.container .subtitle:hover {
    cursor: pointer;
    transform: scale(1.04,1.04);
}
.container h3 {
    color: yellow;
}
.container button{
    color: blueviolet;
    font-size: 13px;
    border-radius: 5px;
    border: 1px ;
}
.container .jj {
    color: rgb(10, 247, 235);
}
.container h2 {
    color: rgb(27, 248, 7);
}

.container span {
    font-size: 17px;
    color: rgb(226, 78, 78);
    text-decoration: line-through 1.2px;
}
.container .buy {
    background-color: red;
    width: 100px;
    margin-left: 60px;
    padding: 5px;
    border-radius: 15px;
    color: white;
}
.container a {
    text-decoration: none;
}
.container .buy:hover {
    cursor: pointer;
    background-color: rgba(236, 50, 50, 0.897);
}

/* footer  */
.footer {
    color: white;
    background-color: rgb(31, 3, 54);
    font-size: 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
}

.footer div {
    padding: 1px;
}

/* footer class */
.shop {
    padding: 10px;
}

.shop h1 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.shop p {
    font-family: "Niramit", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.terms {
    padding: 30px;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 20px;
}

.terms ul {
    list-style-type: none;
    padding: 30px;
}

.terms a {
    color: white;
    text-decoration: none;
    padding-top: 20px;
}

.terms a:hover {
    text-decoration: 1.4px underline solid rgb(116, 86, 146);
}

.socialmedia {
    padding: 20px;

}

.contact {
    padding: 20px;
}